# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ files
.idea

# Ignore Eclipse IDE files
.project
.classpath
bin
.settings

# Ignore visual studio code files
.vscode

# Ignore Netbeans IDE
lib
nbproject
build.xml
manifest.mf

